.life {
  margin: 0 auto;
  margin-top: -180px;
  max-width: 1366px;
  background-image: url("../../img/life_bg-new@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.life__title {
  @include title;
  text-align: center;

  margin: 0;
}

.life__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
  text-align: center;

  max-width: 722px;
  margin: 0 auto;

  color: $black;
  opacity: 0.87;
}

.life__gallery-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 112px;

  max-width: 1149px;
}

.life__gallery-big {
  margin-top: -65px;
  width: 43%;
  position: relative;
}

.life__image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  &--tours {
    background-image: url("../img/temple@1x.png");
    max-width: 482px;
    min-height: 732px;
  }

  &--language {
    background-image: url("../img/language@1x.png");
    min-width: 211px;
    min-height: 318px;
  }

  &--education {
    background-image: url("../img/learn@1x.png");
    min-width: 411px;
    min-height: 318px;
  }

  &--creation {
    background-image: url("../img/people@1x.png");
    min-width: 411px;
    min-height: 318px;
  }

  &--leader {
    background-image: url("../img/leader@1x.png");
    min-width: 211px;
    min-height: 318px;
  }
}

.life__gallery-big .life__text {
  margin-left: 36px;
  max-width: 342px;
  bottom: 33px;
}

.life__gallery-small {
  display: flex;
  flex-direction: column;
  width: 57%;
}

.life__gallery-row-wrapper {
  position: relative;
}

.life__gallery-row {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 27px;
  }
}

.life__text {
  position: absolute;
  bottom: 31px;

  font-family: $font-secondary;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;

  color: #FFFFFF;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);

  margin: 0;

  &--small {
    max-width: 200px;
    left: 23px;
  }

  &--big {
    left: 23px;
  }
}

@media (max-width: $desktop) {
  .life__title {
    font-size: 32px;
  }

  .life__text {
    font-size: 17px;
  }

  .life__gallery-big .life__text {
    margin-left: 29px;
    bottom: 80px;
  }

  // .life__gallery-wrapper {
  //   flex-wrap: wrap;
  // }

  .life__gallery-big {
    width: 100%;
  }

  .life__gallery-small {
    flex-direction: row;
    width: 100%;
  }

  .life__image {
    width: 100%;
    min-width: 500px;
    min-height: 700px;
    background-size: cover;

    &--tours {

    }

    &--language {

    }

    &--education {

    }

    &--creation {

    }

    &--leader {

    }
  }

  // .life__gallery-row {
  //   flex-direction: column;
  // }
}
