.main-nav {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  width: 100%;
  align-items: center;

  margin-top: 31px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav__link {
  text-decoration: none;
  color: $black;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  &:first-child {
    padding-left: 20px;
  }

  &:last-child {
    padding-right: 20px;
  }

}

.main-nav__logo-link {
  margin-right: 28px;
}
