.panels__item {
  display: none;
}

.panels__title {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: $blue;

  margin: 0;
  margin-top: -8px;
  margin-bottom: 24px;
}

.panels__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;

  color: $black;
  opacity: 0.8;
  margin: 0;
  max-width: 85%;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: $tablet) {
  .panels__title {
    font-size: 24px;
    line-height: 29px;
    margin-top: -5px;
    margin-bottom: 16px;
  }

  .panels__text {
    max-width: 99%;
    font-size: 14px;
    line-height: 22px;
  }
}
