.programs {
  // padding-top: 197px;
  margin-top: -5px;
  background-image: url("../img/programming_bg@1x.png");
  background-position: right;
  background-repeat: no-repeat;
}

.programs__title {
  @include title;

  max-width: 945px;
  margin: 0 auto;
}

.programs__wrapper {
  max-width: 947px;
  margin: 0 auto;
  margin-top: 90px;

  display: flex;
  justify-content: space-between;
}

.programs__panels {
  max-width: 69%;
}

.programs__input {
  display: none;
}

@media (max-width: $desktop) {
  .programs {
    padding: 0 50px;
  }

  .programs__wrapper {
    max-width: 100%;
  }

  .programs__panels {
    max-width: 60%;
  }
}

@media (max-width: $tablet) {
  .programs {
    padding: 0;
    background-position: top 126px right -33px;
    background-size: 108%;
  }

  .programs__title {
    font-size: 32px;
    text-align: center;
  }

  .programs__wrapper {
    flex-direction: column;
    margin-top: 36px;
  }

  .programs__panels {
    max-width: 100%;
    padding: 0 16px;
    margin-top: 32px;
  }
}
